<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Position</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <h1>Add A Position</h1>
        </div>
        <form action="" method="POST">
            <div>
                <label for="pname">Name:</label>
                <input type="text" name="pname" id="pname">
            </div>
            <div>
                <label for="pdesc">Description:</label>
                <textarea name="pdesc" id="pdesc"></textarea>
            </div>
            <div>
                <label for="pskill">Skills:</label>
                <select name="pskill" id="pskill"></select>
            </div>
            <input type="submit" value="Add Position">
        </form>
    </div>
</body>
</html>