.skills{
    
    height: 65px;
}
.skill-list{
    height: 180px;
    margin-top: 28px;
    overflow-y: scroll;
}
.skill-list img{
    width: 50px;
    margin: 1px 1px 3px 1px;
}
.skills img{
    width: 50px;
    margin: 1px 1px 3px 1px;
}
textarea{
    resize: none;
}
.inspiration{
    min-height: 235px;
}
